{% extends 'base.html.twig' %}

{% block head %}
<link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1>Projet Jarvis</h1>

<p>Le projet est disponible sur ce lien Google Drive : <a href="">Projet</a></p>

<h1>Vidéo de démonstration</h1>

<p>Une vidéo de démonstration est aussi disponible : <a href="">Vidéo</a> </p>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
