{% extends 'base.html.twig' %}

{% block head %}
<link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1>Projet Jarvis</h1>

<p>Le projet est disponible sur ce lien Google Drive : <a href="">Projet</a></p>

<h1>Lien GitHub</h1>

<p>Le GitHub utilisé tout le long du projet est disponible par ce lien : <a href="https://github.com/gabond/PA" target=__blank>Personal Assistant</a> </p>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
