{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-4 chiffres">
      <h1>Nos chiffres</h1>
      <div class="col-md-4"><div class="progress" value="20" color="#ff0000"></div>20 étudiants en ingénierie</div>
      <div class="col-md-4"><div class="progress" value="3" color="#55BB22"></div>3 années différentes</div>
      <div class="col-md-4"><div class="progress" value="2" color="#0000ff"></div>2 écoles</div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">Équipe</h1>
      <p>
        Notre équipe représente l'UPSSITECH dans cette nuit de 
        l'info édition 2016. On peut mettre ici les logos UPSSITECH, SRI, UPS
        et celui du BTS de Sarah.<br>
        On peut donner peut-être notre organisation ?
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h1 class="text-center">Composition de l'équipe</h1>
    <div id="tri-equipe" class="text-center">
      <ul class="list-unstyled list-inline">
        <li><a href="#1A">1ère année SRI</a></li>
        <li><a href="#2A">2ème année SRI</a></li>
        <li><a href="#3A">3ème année SRI</a></li>
        <li><a defi href="#1D">Défi OpenData</a></li>
        <li><a defi href="#2D">Défi Agile</a></li>
        <li><a defi href="#3D">Défi JARVIS</a></li>
        <li><a defi href="#4D">Défi IA et Jeux</a></li>
        <li><a defi href="#5D">Défi Moteur IA</a></li>
      </ul>
    </div>

    {% set personnes = [
    {'nom': 'Aurélien Bernier-Levalois', 'role': 'Développeur', 'annee': '2ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'aurelien'},
    {'nom': 'Arnaud Moulas', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'arnaud'},
    {'nom': 'Benjamin Chamand', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi IA et Jeux', 'img': 'benjamin'},
    {'nom': 'Clément Olalainty', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'clement'},
    {'nom': 'Gabriel Del-Rey', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'gabriel'},
    {'nom': 'Guillaume Tilhac', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi OpenData', 'img': 'guillaume'},
    {'nom': 'Kévin Rolland', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'kevin_r'},
    {'nom': 'Kévin Cortacero', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'kevin_c'},
    {'nom': 'Jessica Chambers', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi OpenData', 'Défi Agile'], 'img': 'jessica'},
    {'nom': 'Lucien Dehon', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'lucien'},
    {'nom': 'Mathieu Pecchioli', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'mathieu'},
    {'nom': 'Maxime Sanmartin', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi OpenData', 'img': 'maxime_s'},
    {'nom': 'Maxime Rivalin', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'maxime_r'},
    {'nom': 'Maxime Pibarot', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi IA et Jeux', 'img': 'maxime_p'},
    {'nom': 'Morgan Chabaud', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'morgan'},
    {'nom': 'Paul Mesnilgrente', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi OpenData', 'img': 'paul'},
    {'nom': 'Raphaël Lefèvre', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': ['Défi JARVIS', 'Défi Moteur IA'], 'img': 'raphael'},
    {'nom': 'Sarah Brisson', 'role': 'Développeur', 'annee': 'BTS', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi Agile', 'img': 'sarah'},
    {'nom': 'Thibaut Morant', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi IA et Jeux', 'img': 'thibaut'},
    {'nom': 'Yoann Fleytoux', 'role': 'Développeur', 'annee': '2ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi IA et Jeux', 'img': 'yoann'}
    ]
    %}
    {% for personne in personnes %}
      {% include 'default/carte.html.twig' with personne %}
    {% endfor %}

  </div>    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/equipe.js') }}"></script>
<script src="{{ asset('js/progressbar.min.js') }}"></script>
{% endblock %}
