{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-4 chiffres">
      <h1>Nos chiffres</h1>
      <div class="col-md-4"><div class="progress" value="18" color="#ff0000"></div>18 étudiants en ingénierie</div>
      <div class="col-md-4"><div class="progress" value="3" color="#00ff00"></div>3 années différentes</div>
      <div class="col-md-4"><div class="progress" value="1" color="#0000ff"></div>1 école</div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">Équipe</h1>
      <p>
        Notre équipe représente l'UPSSITECH dans cette nuit de 
        l'info édition 2016. On peut mettre ici les logos UPSSITECH, SRI, UPS
        et celui du BTS de Sarah.<br>
        On peut donner peut-être notre organisation ?
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h1 class="text-center">Composition de l'équipe</h1>
    <div id="tri-equipe" class="text-center">
      <ul class="list-unstyled list-inline">
        <li><a href="#1A">1ère année SRI</a></li>
        <li><a href="#2A">2ème année SRI</a></li>
        <li><a href="#3A">3ème année SRI</a></li>
        <li><a href="#1D">Défi 1</a></li>
        <li><a href="#2D">Défi 2</a></li>
        <li><a href="#3D">Défi 3</a></li>
      </ul>
    </div>

    {% set personnes = [
    {'nom': 'Aurélien Bernier-Levalois', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Benjamin Chamand', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Clément Morel', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'},
    {'nom': 'Clément Olalainty', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Delphine Raoux', 'role': 'Développeur', 'annee': '2ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Gabriel Del-Rey', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'},
    {'nom': 'Kévin Rolland', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Kévin Cortacero', 'role': 'Développeur', 'annee': '2ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Maxime Sanmartin', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'},
    {'nom': 'Maxime Rivalin', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Maxime Pibarot', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Morgan Chabaud', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'},
    {'nom': 'Paul Mesnilgrente', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Raphaël Lefèvre', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Roger Nengwe', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'},
    {'nom': 'Sarah Brisson', 'role': 'Développeur', 'annee': '2ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 1'},
    {'nom': 'Thibaut Morant', 'role': 'Développeur', 'annee': '1ère', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 2'},
    {'nom': 'Yoann Fleytoux', 'role': 'Développeur', 'annee': '3ème', 'competences': 'HTML5/CSS3, Javascript', 'defi': 'Défi 3'}
    ]
    %}
    {% for personne in personnes %}
      {% include 'default/carte.html.twig' with personne %}
    {% endfor %}

  </div>    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/equipe.js') }}"></script>
<script src="{{ asset('js/progressbar.min.js') }}"></script>
{% endblock %}
