{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>

{% if posts is empty %}
<p>Aucun article</p>
{% else %}
  {% for post in posts %}
    <h2>{{ post.titre }}</h2>
    <small>Rédigé par {{ post.auteur.username }} le {{ post.datePublication|date('dd/mm/YYYY') }}</small>
    <p>{{ post.contenu }}</p>
  {% endfor %}
{% endif %}
{% endblock %}
