{% extends 'base.html.twig' %}

{% block body %}
{% if posts is empty %}
<p>Aucun article</p>
{% else %}
  {% for post in posts %}
    {% include 'post/voir_content.html.twig' %}
    {% if not loop.last %}<hr>{% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
