{% extends 'base.html.twig' %}

{% block head %}
<link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1>Projet Jarvis</h1>

<p>
    Ce projet consiste à développer une intelligence Artificielle qui révolutionnera le monde.
</p>

<h1>En construction</h1>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
