{% extends 'base.html.twig' %}

{% block head %}
<link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1>Projet Jarvis</h1>

<p>
    Ce projet consiste à développer une intelligence Artificielle qui révolutionnera le monde.
    Le sujet est présent sur la page du <a href="http://www.nuitdelinfo.com/n2i/defis/92" target=_blank>défi</a> de la Nuit de l'info.
</p>

<h1>En construction</h1>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
