@font-face {
    font-family: 'Eras Light ITC';
    font-style: normal;
    font-weight: normal;
    src: local('Eras Light ITC'), url('../font-awesome/fonts/ERASLGHT.woff') format('woff');
}

.navbar-inverse, footer{
    background-color: #222;
}

body {
    padding-top: 70px;
}

#register {
    color: black;
}

.chiffres{
    text-align: center;
}

.progress {
    height: 100px;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: inherit;
    text-align: center;
}

.progress > svg {
    height: 100%;
    display: block;
}

#tri-equipe {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tri-equipe ul li {
    margin: 0px 20px 0px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
}

#tri-equipe ul li:hover {
    background-color: gray;
}

#tri-equipe a {
    margin: 0px;
    padding: 0px;
}

.carte-equipe {
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.carte-equipe h2 {
    margin-top: 5px;
    padding-left: ;
    font-size: 1.5em;
}

.carte-equipe img {
    border-radius: 7px 7px 0px 0px;
}

/**********************************************************/
/*                    HEADER DE PAGE                      */
/**********************************************************/


/* Dropdown animation by MadisonTrash :
http://stackoverflow.com/questions/12115833/adding-a-slide-effect-to-bootstrap-dropdown
*/
.dropdown .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.dropdown.open .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 300px;
    opacity: 1;
    visibility: visible;
}

.active .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.active.open .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 300px;
    opacity: 1;
    visibility: visible;
}


/**********************************************************/
/*                    FOOTER DE PAGE                      */
/**********************************************************/
footer{
    color: white;
    padding: 10 0;
    text-align: justify;
    font-family: "Eras Light ITC",  sans-serif;
}

footer h1{
    text-align: center;
}

footer .images .col-md-4{
    text-align: center;
}

footer .images img{
    max-width: 100%;
}

footer a{
    color: white;
}

footer ul{
    list-style: none;
    padding-left: 10px;
}

footer .social_icons .fa{
    margin: 10px 10px 0px 0px;
    width: 65px;
    padding: 18px 0px;
    border: 1px solid #eee;
    border-radius: 50%;
    text-align: center;
    transition: all ease 0.6s;
}

footer .social_icons .fa:hover{
    background-color: #fff;
    color: #222;
}

/**********************************************************/
/*               footer de la carte-equipe                */
/**********************************************************/

.carte-equipe .footer {
    background-color: #C1C1C1;
    border-radius: 0px 0px 8px 8px;
}

.carte-equipe .footer ul {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-right: 10px;
}

.carte-equipe .footer ul li {
    background-color: #846BFF;
    border-radius: 5px;
}

.carte-equipe .footer ul li:hover {
    background-color: #FF0000;
}

.carte-equipe .fa {
    color: black;
}

.carte-equipe .fa:hover {
    color: white;
}

.carte-equipe dt, .carte-equipe dd {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0px;
    width: inherit;
    text-align: left;
}

/**********************************************************/
/*               image de la carte equipe                 */
/**********************************************************/
.image {
    position:relative;
}
.overlay {
    display:none;
}
.image:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 65px;
    font-size: 20px;
}
img {
    vertical-align:top;
}

/************************************************************/
/*                      PAGE CONNEXION                      */
/************************************************************/
.fa-times{
    float: right;
}

.fa-times:hover{
    cursor: pointer;
}

/* ============================================================== */
/* ======================== MEDIA QUERIES ======================= */
/* ============================================================== */

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}

@media screen and (max-width: 991px){
    .container {
        padding: 0 0 0 0;
    }
}
