
.googleMaps{
    float: right;
    margin-left: 10%;
    /* Shadow */
    -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
}



.formation{
    overflow: hidden;
    margin-bottom: 1em;
    text-align: center;
}

.formation h2{
    color: #222;
    padding: 0 1em 0 1em;
}

.formation ul{
    text-align: left;
}

.title-box {
    height:100%;
}

.title-outer {
    border-top: 4px solid #555;
    background-color: transparent;
}

.title-inner {
    width:auto;
    padding: 15px 20px 0px 20px;
    border: 0;
    background-color: transparent;
    font-size: 21pt;
    color: #333;
}

/* ============================================================== */
/* ======================== MEDIA QUERIES ======================= */
/* ============================================================== */

@media screen and (max-width: 991px){
    .googleMaps {
        float: none;
        margin-left: 0;
    }
}
