
.googleMaps{
    float: right;
    margin-left: 10%;
    /* Shadow */
    -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
}



.formation{
    overflow: hidden;
    margin-bottom: 1em;
    text-align: center;
}

    .formation h2{
        color: white;
        padding: 0 1em 0 1em;

        /* border */
        border-radius: 30px 0px 0px 30px;
        -moz-border-radius: 30px 0px 0px 30px;
        -webkit-border-radius: 30px 0px 0px 30px;
        border: 0px solid #000000;

        /* gradient */
        background: rgba(56,56,56,1);
        background: -moz-linear-gradient(left, rgba(56,56,56,1) 0%, rgba(82,82,82,1) 27%, rgba(138,138,138,1) 78%, rgba(201,201,201,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56,56,56,1)), color-stop(27%, rgba(82,82,82,1)), color-stop(78%, rgba(138,138,138,1)), color-stop(100%, rgba(201,201,201,1)));
        background: -webkit-linear-gradient(left, rgba(56,56,56,1) 0%, rgba(82,82,82,1) 27%, rgba(138,138,138,1) 78%, rgba(201,201,201,1) 100%);
        background: -o-linear-gradient(left, rgba(56,56,56,1) 0%, rgba(82,82,82,1) 27%, rgba(138,138,138,1) 78%, rgba(201,201,201,1) 100%);
        background: -ms-linear-gradient(left, rgba(56,56,56,1) 0%, rgba(82,82,82,1) 27%, rgba(138,138,138,1) 78%, rgba(201,201,201,1) 100%);
        background: linear-gradient(to right, rgba(56,56,56,1) 0%, rgba(82,82,82,1) 27%, rgba(138,138,138,1) 78%, rgba(201,201,201,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#c9c9c9', GradientType=1 );
    }

    .formation ul{
        text-align: left;
    }

/* ============================================================== */
/* ======================== MEDIA QUERIES ======================= */
/* ============================================================== */

@media screen and (max-width: 991px){
    .googleMaps {
        float: none;
        margin-left: 0;
    }

    .formation h2{
        background-color: #333;
        color: white;
        padding: 0 1em 0 1em;

        /* border */
        border-radius: 10px 0px 0px 10px;
        -moz-border-radius: 10px 0px 0px 10px;
        -webkit-border-radius: 10px 0px 0px 10px;
        border: 0px solid #000000;
    }
}

@media screen and (max-width: 768px){
    .formation h2{
        border-radius: 0;
        padding: 0 0.3em 0 0.3em;
    }
}
