.googleMaps{
    float: right;
    margin-left: 10%;
    /* Shadow */
    -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
}

.formation{
    clear: both;
    margin-bottom: 4em; 
}
