.formation{
    overflow: hidden;
    margin-bottom: 1em;
    text-align: center;
}

    .formation h2{
        color: #222;
        padding: 0 1em 0 1em;
    }

    .formation ul{
        text-align: left;
    }

        .formation ul h4 {
            margin: 0.3em;
        }

    .formation .imgLien {
        margin-bottom: 1em;
        padding: 0;

        /* Shadow */
        -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    }

        .formation .imgLien img {
            padding: 0;
        }

.title-box {
    height:100%;
    text-align: center;
}

.title-outer {
    border-top: 3px solid #555;
    background-color: transparent;
}

.title-inner {
    width:auto;
    padding: 15px 20px 0px 20px;
    border: 0;
    background-color: transparent;
    font-size: 21pt;
    color: #333;
}

.informationDefieur{
    text-align: justify;
    text-justify: inter-word;
}

.progress{
    font-size: 2rem;
}

li{
    margin-bottom: 0.7em;
}
