{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter un post</h1> <hr>

{% include 'post/form.html.twig' %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/post_preview.js') }}"></script>
{% endblock %}
